<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src=".\resourse\js\testdata.js"></script>
    <link rel="stylesheet" href=".\resourse\css\index.css">
</head>
<body>
    <nav>
        <button onclick="TagTab(this)" id="OUsers">Get Users</button>
        <button onclick="TagTab(this)" id="OProdTypes">Get Product Types</button>
        <button onclick="TagTab(this)" id="OProducts">Get Products</button>
    </nav>
    <div id="out_data">
        
    </div>
</body>
</html>