<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src=".\resourse\js\user.js"></script>
    <link rel="stylesheet" href=".\resourse\css\index.css">
</head>
<body>
    <nav class="center_nav">
        <button class = "bn33" onclick="TagTab(this)" id="OProducts">Get Products</button>
        <button class = "bn33" onclick="TagTab(this)" id="OStores">Get Stores</button>
    </nav>
    <div id="out_data">
        
    </div>
    <div id="list_control_buttons" class="lcb">

    </div>
</body>
</html>